<a href="/vehicles/new">Add Vehicle</a>
<hr>

<h2>Search Vehicles</h2>

<form action="/vehicles" method="GET">
    <label>Brand</label>
    <input type="text" name="brand" value="<%= searchOptions.brand %>">
    <label>Model</label>
    <input type="text" name="model" value="<%= searchOptions.model %>">
    <label>Fuel Type</label>
    <input type="text" name="fuelType" value="<%= searchOptions.fuelType %>">
    <label>Max Price Per Day</label>
    <input type="number" name="pricePerDay" value="<%= searchOptions.pricePerDay %>">
    <div>
        <button type="submit">Search</button>
    </div>
</form>
<hr>

<% vehicles.forEach(vehicle => { %>
    <div><%= vehicle.vehicleType %> </div>
    <div>
        <img height="100" width="150" src="<%=vehicle.imagePath%>" alt="nema slike :/"> <%# Mozemo ImageName, ali mi zelimo ImagePath -> zato pravimo virtual varijablu u vehicle.js modelu %> 
    </div>
    <div><%= vehicle.brand %> </div> 
    <div><%= vehicle.model %> </div>
    <div><%= vehicle.constructionYear %> </div>
    <div><%= vehicle.fuelType %> </div>
    <div><%= vehicle.numberOfSeats %> </div>
    <div><%= vehicle.pricePerDay %> </div>
    <div><%= vehicle.count %> </div>
    <div>
        <a href="/vehicles/<%= vehicle.id %>">View</a>
        <a href="/vehicles/<%= vehicle.id %>/edit">Edit</a>
        <%- include("../partials/deleteForm.ejs",
                {url: `/vehicles/${vehicle.id}`}) %> 
    </div>
    <br>
<%}); %> 