<h2 class="naslovVehicle">All rents</h2>

<% allRents.forEach(rent => { %>
<div class="cardConteinerRent">
    <div class="cardConteinerRentDeo">
        <label style="font-size: 25px;">Total price: <span class="boldSpan"><%= rent.price %> $</span></label>
    </div>
    <div class="cardConteinerRentDeo">
        <img height="100px" height="150px" src="<%= rent.vehicle.imagePath %>" alt="nema slike :/">
    </div>
    <div>
        <div>
            <label >Name of the costumer: <span class="boldSpan"><%= rent.costumer.fullName%></span></label>
        </div>
        <div>
            <label>Start date: <span class="boldSpan"><%= rent.startDate.toLocaleString()%></span></label>
        </div>
        <div>
            <label>End date: <span class="boldSpan"><%= rent.endDate.toLocaleString()%></span></label>
        </div>
    </div>
    <div class="buttonsDiv">
        <%- include("../partials/deleteForm.ejs",
                    {url: `/rentalEvents/${rent.id}`}) %> 
    </div>
</div>
<% }) %> 