<h2 class="naslovVehicle">New Rent</h2>

<div class="editConteiner">
    <div class="editConteinerInfo">
        <div class="info">
            <div>
                <label>Car that's rented:</label>
            </div>
            <div>
                <img height="100" width="150" src="<%=vehicle.imagePath%>" alt="nema slike :/">
            </div>
        </div>

        <form action="/rentalEvents/" method="POST">
        <div class="info">
            <label type="text">Rented by:</label>
        </div>

        <div class="info">
            <label type="text">Choose costumer:</label>
            <select name="chooseCostumer">
                <% costumers.forEach(costumer => {%>
                    <option value="<%= costumer.id %>"> <%= costumer.fullName %> </option>
            <% }) %> 
            </select>
        </div>

        <input style="display: none;" type="text" name="idVehicle" value="<%= vehicle.id %>"></input>

        <div class="info">
            <label>Start date and time:</label>
            <input type="date" name="startDate">
        </div>

        <div class="info">
            <label>End date and time:</label>
            <input type="date" name="endDate">
        </div>

        <div class="buttonsDiv">
            <button class="buttonSmall" type="submit">Rent</button>
            <a class="buttonSmall" href="/vehicles/<%= vehicle.id %>">Cancel</a>
        </div>

        </form>
    </div>
</div>
<%- include("../partials/errorMessage.ejs") %> 