<div class="carDivConteinerCostumer">
    <div class="infoCostumerDiv">
        <div>Full name: <span class="boldSpan"><%= costumer.fullName %></span></div>
        <div>Email: <span class="boldSpan"><%= costumer.email %></span> </div> 
        <div>Number:  <span class="boldSpan"><%= costumer.phoneNumber %></span></div>
    </div>
    <div class="buttonsDiv">
        <a class="buttonSmall" href="/costumers/<%= costumer.id %>/edit">Edit</a>
        <%- include("../partials/deleteForm.ejs",
                {url: `/costumers/${costumer.id}`}) %> 
    </div>
</div>
